#table{
    border-color: red;
    margin: auto;
    margin-top: 100px;
    border-collapse: collapse;
}

#th{
    width: 260px;
    height: 50px;
    font-family: cursive;
    font-size: xx-large;
}

#td{
    height: 30px;
    font-size: large;
}